<div class="p-2 d-flex bg-general">
  <a
    class="snavbar-brand link-underline link-underline-opacity-0"
    style="font-size: 1.8em; vertical-align: middle"
    routerLink="table"
    >UrlShortener</a
  >

  <nav
    class="p-2 bg-block justify-content-around rounded-3"
    style="display: flex; width: 23%; margin-left: auto; margin-right: auto"
  >
    <a
      aria-current="page"
      routerLink="table"
      class="hover:green"
      title="Table with short URLs"
    >
      Table
    </a>
    <a
      aria-current="page"
      routerLink="about"
      class="hover:green"
      title="About service"
    >
      About
    </a>
  </nav>

  <div class="p-2 bg-block justify-content-around rounded-3">
    <a
      aria-current="page"
      routerLink="login"
      class="hover:green"
      title="About shortening"
    >
      Log In/Register
    </a>
  </div>
</div>
<router-outlet class="container"></router-outlet>
